body {
    font-family: 'Oswald', sans-serif;
}


/************************************************HEADER*********************************************/

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

#header{
    
    height: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
    background-color: #000000;
}


#header-logo {
    height: 24px;
}

header a {
    margin-left: 32px;
    color: white;
}

header a:hover {
    color: white;
}

header a:visited {
    color: white;
}


/****************NEW NEW NEW******************/

.solid-header {
    position: fixed;
    background-color: #c69572;
    transition: background-color 0.5s ease;
}


/************************************************HERO SECTION*********************************************/

#hero-section {
    background-image: url(../img/back\ img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133329c;
    height: 100vh;
}

#hero-logo {

    height: 400px;
    width: 656px;
    margin-bottom: -60px;
}

#arrow-down {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 64px;
    color: white;
    
}

@media (max-width: 768px) {
    #hero-section h1 {
        font-size: 3rem;
    }
    #hero-logo {
        width: 296px;
        margin-bottom: -80px;
    }
}


/************************************************INTRO SECTION*********************************************/

#intro-section {
    background: rgba(203, 201, 201, 0.654);
}

/********************************************card section***************************************************/
.titlu{

margin-top: 30px;
margin-bottom: -10px;
    text-align: center;
}


#card {

    margin: 5%;

    
}

.p-4{
background-color: #d5d5d5ac;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
opacity: 0.7;
  transition: 0.3s;


}


.p-4:hover{


    background-color: #f0eeee;
    opacity: 1;

}

#btn1{
color: rgb(2, 2, 2);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
margin:15px;

width: 120px;
height: 40px;
font-size: large;
opacity: 0.7;
  transition: 0.3s;
  background-color: #ffffff;

}

#btn1:hover{

color: #000000;
opacity: 1;


}



/************************************************ABOUT SECTION*********************************************/

#about-section {

    background:rgba(203, 201, 201, 0.654);

}

#about-bg-1 {
    background-image: url(../img/07how-to-buy-anew-car-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 480px;
}

#about-bg-2 {
    background-image: url(../img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 640px;
    min-height: 640px;
}


/************************************************MENU SECTION*********************************************/

#menu-section {
    background: #eae7de;
}

#bx{

    color: #f66803;

}
#bx:hover{
    color: #c69572;


}


#bx1{

  color: #000000;

}
#bx1:hover{
  color: #4d4d4d;


}
/************************************************CONTACT SECTION*********************************************/

#contact-info-bg-1 {
    background: linear-gradient(to right, #36313782, #36313782), url(../img/fxslide5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#contact-info-bg-2 {
    background-color: #312423a8;
}


/************************************************MAP SECTION*********************************************/


/*#map-section {
    background-image : url(../img/map-demo.png);
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 460px;
}*/

.googlemap{

    width: 100%;
}
#map {
    height: 480px;
    width: 100%;
}


/************************************************FOOTER SECTION*********************************************/

footer {
    background: #000000;


}

#foot{


  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;


}

/************************************************MOBILE MENU*********************************************/

#mobile-menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #000000;
    z-index: 2;
    display: none;
height: auto;

}

#menu-icon{

    margin-top: -10px;
    
    
    }

    #text-menu{

margin-top: 0px;


    }
        



#mobile-menu a {
    color: rgb(250, 250, 250);
}

#mobile-menu a:hover {
    color: rgb(168, 93, 23);
}



ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    flex: 1;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    ul {
      flex-direction: column;
      margin-top: 60px;
    }
  }

ul {
    
    position:relative;
    top:50%;
    left:48%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #e42c2c;
  }
  ul li:hover:nth-child(2) a:before{
    background: #b34848;
  }
  ul li:hover:nth-child(2) a:after{
    background: #835050;
  }
  
  ul li:hover:nth-child(4) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(4) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(4) a:after{
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(3) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(3) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e46880;
  }

@media (max-width: 376px) {}

@media (max-width: 668px) {}

@media (max-width: 892px) {}

@media (max-width: 1200px) {}




